/.idea/
/.installed.cfg
/.mr.developer.cfg
/.venv/
/bin/
/develop-eggs/
/parts/
/src/
/var/
/result
/bootstrap-buildout.py
/test.py
/.vagrant
/buildout.sh
/kill_plone.sh
/plone
/plonectl.sh
/resources/dist/
/resources/elm-stuff/
/resources/node_modules
/resources/.plone
/resources/.plonetheme-upload-cookie
/resources/theme/
/vagrant_scp.sh
